:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261; 
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Romans", "Georgia", Serif;
    --body-font:Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer {
    width: 840px;
    margin: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero-article p {
    width: 80%;
    line-height: 1.5;
}

.hero img {
    width: 100%;
    display: block;
}

.hero-article {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 80;
    padding: 20px;
    background: rgba(18, 116, 117, 0.9);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-article p {
    width: 120;
    line-height: 1;
    border-radius: 1px;
    color: #fff;
}

.hero-article img {
    width: 100px;
    border: 3px solid var(--secondary);
    
}

section h2 {
    background: var(--primary);
    padding: 12px;
    text-align: center;
    color: var(--light);
    font-family: var(--heading-font);
    margin-top: 20px;
    background-color: var(--accent1-color);
    color: #fff;
}

.history p {
    padding: 20px;
    font-size: 1rem;
    line-height: 1.6;

}

.adventure {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}

.socialmedia img {
    width: 32px;
    margin: 0 10px;
}

.socialmedia a {
    text-decoration: none;
}

